@use "@styles/_importer" as *;

.pageSettings {
  background: url("@images/backgrounds/background-brick2.png");

  h2 {
    color: $color-light;
    margin-right: auto;
  }

  p {
    color: $color-light;
    margin-right: auto;
  }
}

.settingsContent {
  @include flex-base(column, center, flex-start);
  gap: 20px;
  width: 100%;
}
