@use "@styles/_importer" as *;

.btnDefault {
  display: block;
  color: $color-light;
  width: 100%;
  max-width: 300px;
  padding-block: 20px;
  text-align: center;
  border: 4px solid $color-light;
  background-color: #581e03;
}

.btnDelete {
  background-color: #bb170d;
}

.btnLink {
  background-color: transparent;
  border: none;
  color: $color-light;
  width: auto;
  padding-bottom: 10px;
  position: relative;
}

.btnLink::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: $color-light;
  position: absolute;
  inset: auto auto -10px 0;
}
