$container-width: 1200px;

$color-light: #fff;
$color-dark: #000;
$color-education: #f2d53b;
$color-improvements: #6dcbff;
$color-accent: #eb6ede;
$color-dark-secondary: #5c1a09;
$color-achieve: #c36c44;
$color-achieve-epic: #8d5afb;

$transition-duration: 0.3s;
